{% extends 'wb/index.html' %}
                    {% block content %}
<h2> Cadastrar </h2>
        <form  method="POST" class="post-form">{% csrf_token %}
              {% if form.username.errors %}
    <ul class="errorlist">
      {% for error in form.username.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}

        {{ form.as_p }}
<p><a href="{% url 'loginview' %}">Já tem uma conta? Clique aqui para entrar</a></p>
    <input class="button-primary" type="submit" value="Cadastrar">
  </fieldset>
</form>
{% load static %}
                    {% endblock %}